* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #171717;
    align-items: center;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}
a {
    color: #fff;
    text-decoration: none;
}

.success {
    background-color: #198754;
}

.error-message {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1);
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    text-align: center;
}