<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" 
    crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <title>Início</title>
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold fs-2 mb-4">Bem-vindo ao B-Productive</h1>
        <div class="col-lg-6 mx-auto">
            <p class=" mb-4">Organize suas tarefas de forma eficiente e aumente sua produtividade!</p>
            <p class="mb-4">
                O B-Productive oferece uma maneira simples e intuitiva 
                de gerenciar suas atividades diárias, seja no trabalho, nos estudos ou na
                vida pessoal. Crie listas personalizadas, adicione tarefas com facilidade, 
                acompanhe o progresso e nunca mais esqueça uma tarefa importante!
            </p>
            <a href="/app" class="btn btn-primary btn-md px-4 gap-3">Comece a Gerenciar suas Tarefas</a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" 
    crossorigin="anonymous"></script>
</body>
</html>