<header>
    <nav>
        <ul>
            <li><a href="/">B-Productive</a></li>
            <li><a href="/app">Todas as listas</a></li>
            <li><a href="/adicionar">Nova lista</a></li>
        </ul>
    </nav>
</header>